@import "src/styles/colors";
@import "src/styles/vars";

.steps {
  padding: 8px 0 7px 64px;
  margin-top: 32px;
  display: flex;
  border-top: 1px solid $color-gray-light;
  border-bottom: 1px solid $color-gray-light;
  width: calc(100vw - 128px);

  a {
    font-family: $fontBold;
    font-size: 14px;
    line-height: 16px;
    color: $color-gray-dark;
    margin-right: 38px;
    position: relative;

    &:not(:first-child)::before {
      content: '\25BA';
      display: inline-block;
      position: absolute;
      top: 0;
      right: calc(100% + 16px);
    }
  }
}

@media (max-width: $desktopMinSize) {
  .steps {
    padding: 8px 0 7px 32px;
  }
}

@media (max-width: $mobileSizeW) {
  .steps {
    margin-top: 48px;
    padding: 0 0 16px 0;
    width: 100vw;
    margin-left: -50px;
    flex-direction: column;
    align-content: center;
    text-align: center;

    a {
      margin-right: 0;
      margin-top: 16px;

      &:not(:first-child)::before {
        content: '\25BC';
        top:-16px;
        align-content: center;
        left:calc((100% - 8px )/2);
        display: block;
      }
    }
  }
}
