$color-accent: #0ec261;
$color-accent-opacity: rgba(14, 194, 97, 0.2);
$color-main: #121212;
$color-gray-dark: #999999;
$color-gray-light: #eeeeee;
$color-main-white: #ffffff;
$color-menu-back:#111518;
$color-menu-back-transparent:rgba(21, 27, 31, 0.81);
$color-book-button-start:#0EC261;
$color-book-button-end:#039F67;
$color-btn-slide1-start:#13493F;
$color-btn-slide1-end:#0C7B1B;
$color-btn-slide2-start:#132949;
$color-btn-slide2-end:#0C7B67;
$color-btn-slide3-start:#493013;
$color-btn-slide3-end:#7B0C3B;
$color-btn-slide4-start:#281349;
$color-btn-slide4-end:#720C7B;
