@import 'fonts';

$desktopSize: 1440px;
$desktopMinSize: 1439px;
$tabletSize: 1023px;
$mobileSizeW: 767px;

$fontLight: "Roboto Light", sans-serif;
$fontRegular: "Roboto Regular", sans-serif;
$fontMedium: "Roboto Medium", sans-serif;
$fontBold: "Roboto Bold", sans-serif;