@import 'fonts';

$desktopSize: 1440px;
$desktopMinSize: 1024px;
$tabletSize: 768px;
$mobileSize: 320px;
$min:8px;

$fontLight: "Roboto Light", sans-serif;
$fontRegular: "Roboto Regular", sans-serif;
$fontMedium: "Roboto Medium", sans-serif;
$fontBold: "Roboto Bold", sans-serif;