@import 'fonts';

$desktopSize: 1440px;
$desktopMinSize: 1024px;
$tabletSize: 768px;
$mobileSizeW: 320px;
$mobileSizeH: 568px;


$fontLight: "Roboto Light", sans-serif;
$fontRegular: "Roboto Regular", sans-serif;
$fontMedium: "Roboto Medium", sans-serif;
$fontBold: "Roboto Bold", sans-serif;