@import "src/styles/colors";
@import "src/styles/vars";

.date-picker {
  width: 224px;
  border: none;
  border-bottom: 1px solid $color-gray-dark;
  font-family: $fontLight;
  font-size: 14px;
  line-height: 16px;
  margin-left: 8px;
}
.ant-picker-suffix {
  color: $color-gray-dark
}
.ant-picker-focused{
  box-shadow: none !important;
}
.ant-picker:hover{
  border-color:$color-gray-dark !important;
}