@import '../../components/Header/Header';
.order_page {
  height: 100vh;
  margin: 0 auto;
  display: flex;

  &_content{
    flex-direction: column;
    width: calc(100vw - 64px);
  }

  &_tab{
    display: flex;
    flex-direction: row;

    &_location{
      flex-direction: column;
    }
  }

  .header{
    width: calc(100vw - 196px);
  }
}