@import "src/styles/colors";
@import "src/styles/vars";

.content-container {
  width: calc(100vw - 688px - 64px);
}

.header {
  padding: 32px 64px 0 64px;
  height: 32px;
  display: flex;
  justify-content: space-between;

  &_title {
    line-height: 32px;
    font-family: $fontBold;
    color: $color-accent;
    font-size: 30px;
  }

  &_city {
    height: 18px;
    display: flex;
    justify-content: space-between;
    color: $color-gray-dark;

    &_logo {
      width: 15px;
      height: 18px;
      margin-top: 7px;
    }

    &_text {
      margin-top: 8px;
      margin-left: 7px;
      height: 17px;
      display: flex;
      font-family: $fontRegular;
      font-size: 14px;
      justify-content: space-between;
      color: $color-gray-dark;
      border: none;
    }
  }
}

.content {
  min-height: calc(100% - 64px - 48px);
  padding: 0 64px 0 64px;
  flex-grow: 1;

  &_title {
    padding-top: 163px;
    font-family: $fontBold;
    font-size: 70px;
    line-height: 66px;

    &_2 {
      color: $color-accent;
    }
  }

  &_subtitle {
    padding: 34px 0 60px 0;
    color: $color-gray-dark;
    font-family: $fontLight;
    font-size: 26px;
    line-height: 30px;
  }
}

.footer {
  display: flex;
  height: 16px;
  justify-content: space-between;
  padding: 0 64px 32px 64px;

  &_copyright {
    font-family: $fontRegular;
    font-size: 13px;
    color: $color-gray-dark;
  }

  &_phone {
    font-family: $fontRegular;
    font-size: 13px;
    color: $color-main;

    &:hover {
      color: $color-accent;
    }

    &:active {
      color: $color-accent;
    }
  }
}

@media (max-width: $desktopMinSize) {
  .content-container {
    width: calc(100vw - 410px - 64px);
  }

  .footer {
    padding: 0 32px 32px 32px;
  }

  .content {
    min-height: calc(100% - 64px - 48px);
    padding: 0 32px 0 36px
  }

  .header {
    padding: 32px 32px 0 32px;
  }
}

@media (max-width: $tabletSize) {
  .content-container {
    width: 100vw;
  }
}

@media (max-width: $mobileSizeW){
  .content-container {
    width: 100vw;
  }
  .header {
    padding: 16px 16px 0 62px;
    flex-flow: column nowrap;

    &_city {
      height: 18px;
      justify-content: flex-end;
    }
  }
  .content {
    margin-left: -32px;
    padding: 0;

    &_title {
      padding-top: 60px;
      font-size: 32px;
      line-height: 32px;

      &_2 {
        margin-top: 6px;
      }
    }

    &_subtitle {
      padding: 16px 0 32px 0;
      font-size: 18px;
      line-height: 21px;
    }
  }
  .footer {
    flex-flow: column nowrap;
    flex-direction: column-reverse;
    justify-content: flex-end;
    margin-left: -50px;
    height: 72px;
    padding: 0;
    background-color: $color-main;

    &_copyright {
      color: $color-gray-light;
      margin-top: 8px;
      margin-left: 131px;
    }

    &_phone {
      color: $color-accent;
      margin-left: 201px;
      margin-top: 16px;

      &:hover {
        color: $color-gray-light;
      }

      &:active {
        color: $color-gray-light;
      }
    }
  }
}
