@import "src/styles/vars";
@import "src/styles/colors";

.order_page_tab_additional_label{
  margin-top: 32px;
  font-family: $fontLight;
  font-size: 14px;
  line-height: 16px;
  color: $color-main;
}
.order_page_tab_additional_container{
  height: calc(100vh - 64px - 66px);
  margin-left: auto;
  margin-right: 2px;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}